@font-face {
    font-family: Poppins;
    src: url(../Media/Navigation//Poppins-Regular.ttf)
}

h3 {
    font-size: 24px;
}

.selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    font-family: Poppins;
    font-size: 22px;
}

#subTitle {
    font-size: 30px;
    font-weight: bold;
}

#journey {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}