@font-face {
    font-family: Poppins;
    src: url(../Media/Navigation//Poppins-Regular.ttf)
}

.pastelcontainer {
    font-size: 22px;
    font-family: Poppins;
}

#title {
    text-align: left;
    font-size: 40px;
    font-weight: bold;
}

#comment {
    text-align: right;
    font-size: 20px;
}

#subHeader1 {
    color: #4732B5;
    font-weight: bold;
    font-size: 40px;
}

#subHeader2 {
    font-weight: bold;
    font-size: 30px;
}
.research {
    float: right;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.goal-header {
    clear: right;
    display: block;
}

#verticleLine {
    border-left: 1px solid lightgrey;
}

#otherWork {
    text-align: center;
}

.main-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
